*{
    border: 1px solid black;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

div.header-container{
    background-color: #1F2937;
    color: white;
    height: 250px;
}

div.header{
    display: flex;
    justify-content: space-between;
}
div.links{
    display: flex;
    gap: 8px;
}